
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

* {
  font-family: sans-serif;
}
/* Make the blog format use more space for now */
/* .idyll-text-container { */
  /* max-width: 1000px; */
/* } */

/* Styling for PacGameContainer */
.pac-game-step {
  padding: 14px;
}

.pac-game-container rect {
  border: 2px solid;
}

.pac-game-container .target-distribution {
  fill: green;
  color: green;
  opacity: 0.2;
  border-color: green;
}

.pac-game-container .candidate-distribution {
  fill: blue;
  color: blue;
  opacity: 0.2;
  border-color: blue;
}

.pac-game-container .candidate-distribution-t {
  fill: yellow !important;
  color: yellow !important;
  opacity: 0.3 !important;
  border-color: yellow !important;
}

.pac-game-container .candidate-distribution-t-text {
  color: brown !important;
  fill: brown !important;
}

.pac-game-container .candidate-distribution-tprime-text {
  color: purple !important;
  fill: purple !important;
}

.pac-game-container .candidate-distribution-tprime {
  fill: violet !important;
  color: violet !important;
  opacity: 0.15 !important;
  border-color: violet !important;
  border-style: dashed !important;
  border-radius: 5px !important;
}

.selectedButton {
  border: 2px solid black !important;
}

.evaluation-statistics .evaluation-accuracy {
  text-align: center;
}

.evaluation-statistics .evaluation-cm-item {
  text-align: left;
  padding: 0.5em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 2em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.callout {
  padding: 0 10em 0 10em;
}

.callout-definition {
  padding: 5em 10em 5em 10em;
  margin-bottom: 5em;
  background: lightblue;
  border-radius: 2em;
  border: 1em gray;
  font-family: Georgia, serif;
}

.aside {
  width: 500px;
  right: 0px;
  left: 700px;
}

.article-header {
  width: 800px;
}

.idyll-text-container {
  max-width: 700px;
}

.pac-game-message {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.evaluation-statistics-training {
  border-right: 2px solid gray;
}

.evaluation-statistics-testing {
  border-left: 2px solid lightgray;  
}

.rotate90 {
  transform: rotate(90deg);
}

.section-divider {
  page-break-after: always;
  margin-top: 10vh;
  margin-bottom: 40vh;
  text-align: center;
}

.extraspace {
  margin-top: 40vh;
}

.section-divider-arrow {
  animation: bounce 8s;
  animation-delay: 5s;
  animation-iteration-count: 5;
}

@keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-20px);
  }
  15% {
    transform: translateY(-12px);
  }
}

.game-changer {
  margin-bottom: 3vh;
}

.fullWidth {
  background: white;
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
  z-index: 100;
}